body {
    font-family: Times New Roman, serif;
    margin: 20px;
}

.Judul {
    font-size: 18px;
}


.nama {
    background-color: blue;
    color: yellow;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
}

.nim {
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

.highlight-blue {
    background-color: blue;
    color: white;
    font-style: italic;
}

.highlight-yellow {
    background-color: yellow;
    font-style: italic;
}

.center-paragraph {
    text-align: center;
    font-size: 26px; /* Ukuran besar sesuai gambar */
}
